.bases{
    height: 75px;
    overflow: hidden;
    width: 968px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
}
body{
    font: 14px/1.6 -apple-system-font,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
    margin: 0px;
    background: url(images/a2.jpg) repeat-x;
}
.person1{
    float: left;
    margin-top: 14px;
    height: 44px;
}
img{
    border: 0;
}

li ,ul{
    list-style: none;
    margin: 0;
}
li{
    float: left;
}
.er{
    float: right;
    padding-top: 21px;
}
ul{
    margin: 0px;
    display: block;
    list-style-type: disc;
    padding: 0px;
    float: right;
}
a.wq span{
    font-weight: 700;
    text-decoration: none;
    background: url(images/a4.png) scroll 100% no-repeat;
}
a{
    display: inline-block;
    padding-left: 10px;
    line-height: 33px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
.wow{
    background: url(images/a4.png) no-repeat scroll ;
}
span{
    display: inline-block;
    padding-right: 10px;
    cursor: pointer;
}
li:nth-child(n+2) a:hover {
    margin: 0 1px 0 2px;
    font-weight: lighter;
    text-decoration: none;
    background: url(images/a1.png) no-repeat scroll;
    color: #fff;
}
li:nth-child(n+2) a:hover span{
    background: url(images/a1.png) no-repeat scroll 100%;
    color: #fff;
}